<?xml version="1.0"?>
<!--dwrarcgis-->
<appSettings>
	<add key="gisAdjUrl-wfrUrl" value="https://azwatermaps.azwater.gov/arcgis/rest/services/ADJ/ADJ_LLC_WFRs_All/MapServer"/>
	<add key="gisAdjUrl-domesticUrl" value="https://azwatermaps.azwater.gov/arcgis/rest/services/ADJ/ADJ_LLC_POUs_DM_points/FeatureServer/0"/>
	<add key="gisAdjUrl-podsUrl" value="https://azwatermaps.azwater.gov/arcgis/rest/services/ADJ/ADJ_LLC_PODs_All/FeatureServer/4"/>
	<add key="gisAdjUrl-irrigrationUrl" value="https://azwatermaps.azwater.gov/arcgis/rest/services/ADJ/ADJ_LLC_POUs_IR_polys/FeatureServer/0"/>
	<add key="gisAdjUrl-stockWaterUrl" value="https://azwatermaps.azwater.gov/arcgis/rest/services/ADJ/ADJ_LLC_POUs_SW_polys/FeatureServer/0"/>
	<add key="gisAdjUrl-stockPondUrl" value="https://azwatermaps.azwater.gov/arcgis/rest/services/ADJ/ADJ_LLC_POUs_SP_polys/FeatureServer/0"/>
	<add key="gisAdjUrl-municipalUrl" value="https://azwatermaps.azwater.gov/arcgis/rest/services/ADJ/ADJ_LLC_POUs_MU_polys/FeatureServer/0"/>
	<add key="gisAdjUrl-industrialUrl" value="https://azwatermaps.azwater.gov/arcgis/rest/services/ADJ/ADJ_LLC_POUs_CI_polys/FeatureServer/0"/>

	<add key="gisAdjUrl-waterShedUrl" value="https://services.arcgis.com/C34zQ7veRS0V1t04/arcgis/rest/services/Surface_Watershed/FeatureServer"/>
	<add key="gisAdjUrl-townshipUrl" value="https://services.arcgis.com/C34zQ7veRS0V1t04/ArcGIS/rest/services/Boundaries/FeatureServer"/>
	<!--<add key="gisAdjUrl-qUrl" value="https://azwatermaps.azwater.gov/arcgis/rest/services/Hosted/Cadastral_Q/VectorTileServer"/>-->
	<add key="gisAdjUrl-CadastralUrl" value="https://tiles.arcgis.com/tiles/C34zQ7veRS0V1t04/arcgis/rest/services/Cadastral_Vector/VectorTileServer"/>
	<!--<add key="gisAdjUrl-qqqUrl" value="https://azwatermaps.azwater.gov/arcgis/rest/services/Hosted/Cadastral_QQQ/VectorTileServer"/>-->
</appSettings>