<?xml version="1.0"?>

<appSettings>
  <add key="gisAdjUrl-wfrUrl" value="https://dwrarcgis.azwater.gov/server/rest/services/ADJ/LLC_WFRs_All/MapServer/0"/>
  <add key="gisAdjUrl-domesticUrl" value="https://dwrarcgis.azwater.gov/server/rest/services/ADJ/LLC_POUs_DM_points/FeatureServer/0"/>
  <add key="gisAdjUrl-podsUrl" value="https://dwrarcgis.azwater.gov/server/rest/services/ADJ/LLC_PODs_All/FeatureServer/0"/>
  <add key="gisAdjUrl-irrigrationUrl" value="https://dwrarcgis.azwater.gov/server/rest/services/ADJ/LLC_POUs_IR_polys/FeatureServer/0"/>
  <add key="gisAdjUrl-stockWaterUrl" value="https://dwrarcgis.azwater.gov/server/rest/services/ADJ/LLC_POUs_SW_polys/FeatureServer/0"/>
  <add key="gisAdjUrl-stockPondUrl" value="https://dwrarcgis.azwater.gov/server/rest/services/ADJ/LLC_POUs_SP_polys/FeatureServer/0"/>
  <add key="gisAdjUrl-municipalUrl" value="https://dwrarcgis.azwater.gov/server/rest/services/ADJ/LLC_POUs_MU_polys/FeatureServer/0"/>
  <add key="gisAdjUrl-industrialUrl" value="https://dwrarcgis.azwater.gov/server/rest/services/ADJ/LLC_POUs_CI_polys/FeatureServer/0"/>

  <add key="gisAdjUrl-waterShedUrl" value="https://gisweb3.azwater.gov/arcgis/rest/services/General/Water/MapServer"/>
  <add key="gisAdjUrl-townshipUrl" value="https://gisweb3.azwater.gov/arcgis/rest/services/General/Boundaries/MapServer"/>
  <add key="gisAdjUrl-qUrl" value="https://gisweb3.azwater.gov/arcgis/rest/services/Hosted/Cadastral_Q/VectorTileServer"/>
  <add key="gisAdjUrl-qqUrl" value="https://gisweb3.azwater.gov/arcgis/rest/services/Hosted/Cadastral_QQ/VectorTileServer"/>
  <add key="gisAdjUrl-qqqUrl" value="https://gisweb3.azwater.gov/arcgis/rest/services/Hosted/Cadastral_QQQ/VectorTileServer"/>


  <!--<add key="gisAdjUrl_prod-wfrUrl" value="https://gisweb3.azwater.gov/agsadmin/rest/services/ADJ/ADJ_LLC_WFRs_All/MapServer/1"/>
  <add key="gisAdjUrl_prod-domesticUrl" value="https://gisweb3.azwater.gov/agsadmin/rest/services/ADJ/ADJ_LLC_POUs_DM_points/FeatureServer/1"/>
  <add key="gisAdjUrl_prod-podsUrl" value="https://gisweb3.azwater.gov/agsadmin/rest/services/ADJ/ADJ_LLC_PODs_All/FeatureServer/1"/>
  <add key="gisAdjUrl_prod-irrigrationUrl" value="https://gisweb3.azwater.gov/agsadmin/rest/services/ADJ/ADJ_LLC_POUs_IR_polys/FeatureServer/1"/>
  <add key="gisAdjUrl_prod-stockWaterUrl" value="https://gisweb3.azwater.gov/agsadmin/rest/services/ADJ/ADJ_LLC_POUs_SW_polys/FeatureServer/1"/>
  <add key="gisAdjUrl_prod-stockPondUrl" value="https://gisweb3.azwater.gov/agsadmin/rest/services/ADJ/ADJ_LLC_POUs_SP_polys/FeatureServer/1"/>
  <add key="gisAdjUrl_prod-municipalUrl" value="https://gisweb3.azwater.gov/agsadmin/rest/services/ADJ/ADJ_LLC_POUs_MU_polys/FeatureServer/"/>
  <add key="gisAdjUrl_prod-industrialUrl" value="https://gisweb3.azwater.gov/agsadmin/rest/services/ADJ/ADJ_LLC_POUs_CI_polys/FeatureServer/1"/>-->
</appSettings>


