<?xml version="1.0"?>
<!--dwrarcgis-->
<appSettings>
	<add key="gisAdjUrl-wfrUrl" value="https://gisweb3.azwater.gov/agsadmin/rest/services/ADJ/ADJ_LLC_WFRs_All/MapServer/1"/>
	<add key="gisAdjUrl-domesticUrl" value="https://gisweb3.azwater.gov/agsadmin/rest/services/ADJ/ADJ_LLC_POUs_DM_points/FeatureServer/1"/>
	<add key="gisAdjUrl-podsUrl" value="https://gisweb3.azwater.gov/agsadmin/rest/services/ADJ/ADJ_LLC_PODs_All/FeatureServer/0"/>
	<add key="gisAdjUrl-irrigrationUrl" value="https://gisweb3.azwater.gov/agsadmin/rest/services/ADJ/ADJ_LLC_POUs_IR_polys/FeatureServer/0"/>
	<add key="gisAdjUrl-stockWaterUrl" value="https://gisweb3.azwater.gov/agsadmin/rest/services/ADJ/ADJ_LLC_POUs_SW_polys/FeatureServer/1"/>
	<add key="gisAdjUrl-stockPondUrl" value="https://gisweb3.azwater.gov/agsadmin/rest/services/ADJ/ADJ_LLC_POUs_SP_polys/FeatureServer/1"/>
	<add key="gisAdjUrl-municipalUrl" value="https://gisweb3.azwater.gov/agsadmin/rest/services/ADJ/ADJ_LLC_POUs_MU_polys/FeatureServer/"/>
	<add key="gisAdjUrl-industrialUrl" value="https://gisweb3.azwater.gov/agsadmin/rest/services/ADJ/ADJ_LLC_POUs_CI_polys/FeatureServer/0"/>

	<add key="gisAdjUrl-waterShedUrl" value="https://gisweb3.azwater.gov/arcgis/rest/services/General/Water/MapServer"/>
	<add key="gisAdjUrl-townshipUrl" value="https://gisweb3.azwater.gov/arcgis/rest/services/General/Boundaries/MapServer"/>
	<add key="gisAdjUrl-qUrl" value="https://gisweb3.azwater.gov/arcgis/rest/services/Hosted/Cadastral_Q/VectorTileServer"/>
	<add key="gisAdjUrl-qqUrl" value="https://gisweb3.azwater.gov/arcgis/rest/services/Hosted/Cadastral_QQ/VectorTileServer"/>
	<add key="gisAdjUrl-qqqUrl" value="https://gisweb3.azwater.gov/arcgis/rest/services/Hosted/Cadastral_QQQ/VectorTileServer"/>
</appSettings>