<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<appSettings>
		<add key="gisAdjUrl-wfrUrl" value="https://azwatermaps.azwater.gov/arcgis/rest/services/ADJ/ADJ_LLC_WFRs_All/MapServer" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="gisAdjUrl-domesticUrl" value="https://azwatermaps.azwater.gov/arcgis/rest/services/ADJ/ADJ_LLC_POUs_DM_points/FeatureServer/0" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="gisAdjUrl-podsUrl" value="https://azwatermaps.azwater.gov/arcgis/rest/services/ADJ/ADJ_LLC_PODs_All/FeatureServer/4" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="gisAdjUrl-irrigationUrl" value="https://azwatermaps.azwater.gov/arcgis/rest/services/ADJ/ADJ_LLC_POUs_IR_polys/FeatureServer/0" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="gisAdjUrl-stockWaterUrl" value="https://azwatermaps.azwater.gov/arcgis/rest/services/ADJ/ADJ_LLC_POUs_SW_polys_2/FeatureServer/0" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="gisAdjUrl-stockPondUrl" value="https://azwatermaps.azwater.gov/arcgis/rest/services/ADJ/ADJ_LLC_POUs_SP_polys/FeatureServer/0" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="gisAdjUrl-municipalUrl" value="https://azwatermaps.azwater.gov/arcgis/rest/services/ADJ/ADJ_LLC_POUs_MU_polys/FeatureServer/0" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="gisAdjUrl-industrialUrl" value="https://azwatermaps.azwater.gov/arcgis/rest/services/ADJ/ADJ_LLC_POUs_CI_polys/FeatureServer/0" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="hydrosAppUrl" value="https://dwrapp.azwater.gov" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
		<add key="portalUrl" value="https://azwatermaps.azwater.gov/portal" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="appId" value="rs6aR4o7RsnsxyZd" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="Environment" value="Production" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="AdministratorEmailAccount" value="appdev@azwater.gov" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	</appSettings>

	<oracle.manageddataaccess.client>
		<version number="*">
			<dataSources>				
				<dataSource alias="SDE" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=adwrsde)(PORT=1521))(CONNECT_DATA=(SID=SDE)))" xdt:Transform="SetAttributes" xdt:Locator="Match(alias)"/>
				<dataSource alias="ADWR" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=adwrprod12)(PORT=1521))(CONNECT_DATA=(SID=ADWR)))" xdt:Transform="SetAttributes" xdt:Locator="Match(alias)"/>
			</dataSources>
			</version>
	</oracle.manageddataaccess.client>
	<connectionStrings>		
		<add name="OracleContext" connectionString="DATA SOURCE=ADWR;PASSWORD=onebiguser2#;USER ID=WEB_USER" providerName="Oracle.ManagedDataAccess.Client" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
		<add name="ADWRContext" connectionString="DATA SOURCE=ADWR;PASSWORD=onebiguser2#;USER ID=WEB_USER" providerName="Oracle.ManagedDataAccess.Client" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
		<add name="SdeContext" connectionString="DATA SOURCE=SDE;PASSWORD=Tadj02#;USER ID=ADJ" providerName="Oracle.ManagedDataAccess.Client" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
		
	</connectionStrings>

	<system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
	  
	
  </system.web>
</configuration>