<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
	<!--<system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    -->
	<!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
	<!--
  </system.web>-->

	<appSettings>
		<add key="WebsiteUrl" value="http://Intranet/Hydros" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="Environment" value="Production" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="DocuShareUrl" value="http://infoshare.azwater.gov/docushare/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
	</appSettings>

	<system.web>
		<customErrors mode="Off" xdt:Transform="Insert"/>
	</system.web>

	<!--<oracle.manageddataaccess.client>
		<version number="*">
			<dataSources>
				<dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL)))" xdt:Transform="Replace" xdt:Locator="Match(alias)"/>
				<dataSource alias="ADWR" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=adwrprod12)(PORT=1521))(CONNECT_DATA=(SID=ADWR))) "  xdt:Transform="Insert" />
				<dataSource alias="SDE" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=adwrsde)(PORT=1521))(CONNECT_DATA=(SID=SDE))) " />
				
			</dataSources>
		</version>
	</oracle.manageddataaccess.client>



	<connectionStrings>
		<add name="OracleContext" connectionString="DATA SOURCE=ADWR;PASSWORD=onebiguser2#;USER ID=WEB_USER" providerName="Oracle.ManagedDataAccess.Client" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
		<add name="ADWRContext" connectionString="DATA SOURCE=ADWR;PASSWORD=onebiguser2#;USER ID=WEB_USER" providerName="Oracle.ManagedDataAccess.Client" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
		<add name="SdeContext" connectionString="DATA SOURCE=SDE;PASSWORD=Tadj02#;USER ID=ADJ" providerName="Oracle.ManagedDataAccess.Client" />
		<add name="SqlContext" connectionString="data source=adwrsql;initial catalog=Docushare;persist security info=True;user id=webuser;password=Azwaterh2o;MultipleActiveResultSets=True;App=EntityFramework"
			 
			 providerName="System.Data.SqlClient"
			 xdt:Transform="SetAttributes"
			 xdt:Locator="Match(name)" />
	</connectionStrings>-->
</configuration>